/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: blue;  
    
    color: white;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: whitesmoke;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
    clear:both;
}


/* specifieke stijlen */

img.zweefLinks {
    float: right;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #e96464;
    overflow: hidden;
}

nav ul li {
    float: left;
    width: 140px;
    height: 46px;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #912222;
}

nav li a.active {
    background-color: rgb(231, 20, 20);
}

.Zeus {
    background-color: yellow;
    color:black;
    padding: 5px;
    margin: 5px;
    float: left;
    width:45%;
}

.Poseidon {
    background-color:rgb(38, 86, 219);
    color:white;
    padding: 5px;
    margin: 5px;
    float: right; 
    width:45%;
}

.Hades {
    background-color: black;
    color:white;
    padding: 5px;
    margin: 5px;
    float: left;
    width:45%;
}

.Hera {
    background-color: white;
    color: black;
    padding: 5px;
    margin: 5px;
    float: right;
    width:45%;
}

.Demeter {
    background-color: wheat;
    color: black;
    padding: 5px;
    margin: 5px;
    float: left;
    width:45%;
}

.Hestia {
    background-color: rgb(190, 70, 70);
    color: white;
    padding: 5px;
    margin: 5px;
    float: right;
    width:45%;
}

.Aphrodite {
    background-color: pink;
    color: white;
    padding: 5px;
    margin: 5px;
    float: left;
    width:45%;
}

.Ares {
    background-color: red;
    color:white;
    padding: 5px;
    margin: 5px;
    float: right;
    width:45%;
}

.Hermes {
    background-color: gold;
    color: white;
    padding: 5px;
    margin: 5px;
    float: left;
    width:45%;
}

.Hephaistos {
    background-color: orange;
    color: white;
    padding: 5px;
    margin: 5px;
    float: right;
    width:45%;
}

.Apollo {
    background-color: ;
    color: ;
    padding: 5px;
    margin: 5px;
    float: left;
    width:45%;
}

.Artemis {
    background-color: rgb(49, 126, 49);
    color: white;
    padding: 5px;
    margin: 5px;
    float: right;
    width:45%;
}

.Athena {
    background-color: ;
    color: ;
    padding: 5px;
    margin: 5px;
    float: left;
    width:45%;
}

.Dionysos {
    background-color: purple;
    color: white;
    padding: 5px;
    margin: 5px;
    float: right;
    width:45%;
}

.Mythisch {
    float:left;
    width: 70%;
}

.Wezentext {
    margin-bottom: 60px;
    margin-top: 60px;
}

.mythischebeelding {
    float: right;
    width: 25%;
    margin-top: 20px;
}