/* Basislayout */

html, body {
    height: 100%;
    background-color: blue;  
    color: white;
    font-family: "Papyrus", "fantasy";
    font-size: 15px;
}


main {
    margin: 0 auto;
    width: 900px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: whitesmoke;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
    clear:both;
}


/* specifieke stijlen */

img.zweefLinks {
    float: right;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.godenlijst {
    text-align: center;
}


/* navigatiebalk */
nav ul {

    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #e96464;
    overflow: hidden;
    width: 700px;
}

nav ul li {
    float: left;
    width: 140px;
    height: 46px;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #912222;
}

nav li a.active {
    background-color: rgb(231, 20, 20);
}


/* index.html css */

.ontstaan {
    margin: 50px;
    text-align:center;
}


/* goden.html css */

.godenlijst {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    clear: both;
}

.Zeus {
    background-color: yellow;
    color:black;
    padding: 5px;
    margin: 5px;
    float: left;
    width:45%;
}

.Poseidon {
    background-color:rgb(38, 86, 219);
    color:white;
    padding: 5px;
    margin: 5px;
    float: right; 
    width:45%;
}

.Hades {
    background-color: black;
    color:white;
    padding: 5px;
    margin: 5px;
    float: left;
    width:45%;
}

.Hera {
    background-color: whitesmoke;
    color: black;
    padding: 5px;
    margin: 5px;
    float: right;
    width:45%;
}

.Demeter {
    background-color: wheat;
    color: black;
    padding: 5px;
    margin: 5px;
    float: left;
    width:45%;
}

.Hestia {
    background-color: rgb(190, 70, 70);
    color: white;
    padding: 5px;
    margin: 5px;
    float: right;
    width:45%;
}

.Aphrodite {
    background-color: pink;
    color: white;
    padding: 5px;
    margin: 5px;
    float: left;
    width:45%;
}

.Ares {
    background-color: red;
    color:white;
    padding: 5px;
    margin: 5px;
    float: right;
    width:45%;
}

.Hermes {
    background-color: gold;
    color: black;
    padding: 5px;
    margin: 5px;
    float: left;
    width:45%;
}

.Hephaistos {
    background-color: orange;
    color: black;
    padding: 5px;
    margin: 5px;
    float: right;
    width:45%;
}

.Apollo {
    background-color: rgb(102, 255, 102);
    color: black;
    padding: 5px;
    margin: 5px;
    float: left;
    width:45%;
}

.Artemis {
    background-color: rgb(49, 126, 49);
    color: white;
    padding: 5px;
    margin: 5px;
    float: right;
    width:45%;
}

.Athena {
    background-color: rgb(0, 238, 255);
    color: black;
    padding: 5px;
    margin: 5px;
    float: left;
    width:45%;
}

.Dionysos {
    background-color: purple;
    color: white;
    padding: 5px;
    margin: 5px;
    float: right;
    width:45%;
}


/* mythische-wezens.html */

.Mythisch {
    margin-bottom:30px;
}

.Wezentext {
    float: left;
    width: 70%;
}

.mythischebeelding {
    float: right;
    width: 25%;
    margin-top: 20px;
}


/* verklaringen.html css */

.-Verklaring {
    padding: 5px;
    border: 4px solid purple;
    float: left;
    width: 40%;
}

.V-erklaring {
    padding: 5px;
    border: 4px dashed brown;
    float: right;
    width: 45%;
    margin-top: 70px;
}

.Ve-rklaring {
    padding: 5px;
    border: 4px dotted yellow;
    float: left;
    width: 40%;
    margin-top:10px;
    margin-left: 40px;
}

.Ver-klaring {
    padding: 5px;
    border: 4px groove green;
    float: right;
    width: 30%;
    margin-top: 37px;
    margin-right: 24px;
}

.Verk-laring {
    padding: 5px;
    border: 4px ridge black;
    float: left;
    width: 55%;
    margin-top:10px;
}


/* dagelijks.html css */

.Dagelijksetekst {
    text-align: center;
    width: 600px;
}